name: Test action with cache

on:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./
        with:
          python-version: 3.12
      - name: View poetry --help
        run: |
          poetry --help
          poetry version
          poetry run python --version
          ls --all
